:root {
    --meowbrown: #86553e;
    --meoworange: #f8a05f;
    --meowgrey: #666;
    --meowpink: #f89a9b;
    --whiskerbrown: #eac7a8;
    --whiskergrey: #afafaf;
    --whiskerpink: #ffdcda;
}